@model IEnumerable<BeautyStandard.Models.Client>

@{
    ViewData["Title"] = "Клиенты";
}

<h1>Клиенты</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="bi bi-plus-circle"></i> Добавить нового клиента
    </a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.RegistrationDate)</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@item.RegistrationDate.ToShortDateString()</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                            <i class="bi bi-info-circle"></i>
                        </a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
        }
    </tbody>
</table>